*,
*:before,
*:after {
	-webkit -box-sizing: border-box;
	   -moz -box-sizing: border-box;
			 box-sizing: border-box;
}
body {
	font-family: garamont, serif;
}
.map {
	display: flex;
    justify-content: space-between;
}
.list-cont {
	height: 770px;
    background-color: black;
    flex: 0 1 20%;
    color: snow;
    padding: 85px 10px;
    
}
ul.list {
	list-style-type: none;
    margin: 15px;

}
.list-item {
	
	margin-bottom: 15px;
}
.list-item:first-child {
	margin-top: 50px;
}
a:link {
	color: white;
	display: block;	
	text-decoration: none;
}	
a:visited {
  color: white;	
}  
a:hover {
  text-transform: uppercase;
  font-size: 20px;
 }
.map-pos-cont {
	display: flex;
    background-color: #9e9e9ead;
    flex: 1 1 80%;
    text-align: center;
    justify-content: center;
}
.pos-cont {
	height: 720px;
    overflow: auto;
    width: 100%;
    margin: 54px;
    background-color: #757171;
    padding: 40px;
    -webkit-box-shadow: -25px -21px 0 6px #424242;
    box-shadow: -25px -21px 0 6px #424242;
}
div.pos-item {
	height: 110px;
    align-items: center;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
div.pos-item:nth-child(even) {
	color: snow;
	background-color: #006300;
}
div.pos-item:nth-child(odd) {
	color: black;
	background-color: #FFC107;
}
div.pos-item:hover {
	opacity: 0.4;
	color: red;
	text-transform: uppercase;
}
div.pos-item:nth-child(3),
div.pos-item:nth-child(4) {
	display: inline-flex;
	width: 50%;
}
div.pos-item:nth-child(3) {
	margin-right: -2px;
}
div.pos-item:nth-child(4) {
	margin-left: -2px;
}